html,body {
	height:100%;
}


.row-flex, .row-flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
    height:33vh;
}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
	 margin:-.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
	width:100%;
}


.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
	flex-flow: column nowrap;
}

.flex-grow {
	display: flex;
    -webkit-flex: 2;
    flex: 2;
}
iframe{
  max-width:300px;
  display:inline-block;
}
.panel{
  border:none;
}

#ratingChart{
  max-height:350px;
  max-width:350px;
  margin: auto;
}

#pieChart{
  max-height:500px;
  max-width:500px;
  margin:auto;
}
#pieChart2{
  max-height:500px;
  max-width:500px;
  margin:auto;
}
ul{
  list-style: none;
  padding-left:0;
}
li{

}
html, body{
  min-height:800px;
}
tr{
  border:1px solid #ccc;
  border-left:none;
  border-right:none;
}
.searching{
  overflow:scroll;
}
