/* line 1, C:/Users/t0nt/Dropbox/GitHub/boiler-plate/scss/_reset.scss */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* line 1, C:/Users/t0nt/Dropbox/GitHub/boiler-plate/scss/_blocks.scss */

body, html, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}


/* line 5, C:/Users/t0nt/Dropbox/GitHub/boiler-plate/scss/_blocks.scss */

.container>.navbar {
    margin-bottom: 0;
}


/* line 8, C:/Users/t0nt/Dropbox/GitHub/boiler-plate/scss/_blocks.scss */

header>.container>.jumbotron {
    border-radius: 0;
    margin-bottom: 20px;
}


/* line 12, C:/Users/t0nt/Dropbox/GitHub/boiler-plate/scss/_blocks.scss */

.row>.col-xs-12, .col-sm-6, .col-md-6, .col-lg-3>.thumbnail {
    border: none;
    margin: 20px auto;
}


/* line 16, C:/Users/t0nt/Dropbox/GitHub/boiler-plate/scss/_blocks.scss */

div.media {
    margin-top: 60px;
}


/* line 19, C:/Users/t0nt/Dropbox/GitHub/boiler-plate/scss/_blocks.scss */

.flex {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
}


/* line 1, C:/Users/t0nt/Dropbox/GitHub/boiler-plate/scss/_footer.scss */

footer {
    height: 350px;
    background: #ccc;
    margin-top: 60px;
}

.tabbable {
    *zoom: 1;
}

.tabbable:before, .tabbable:after {
    display: table;
    content: "";
}

.tabbable:after {
    clear: both;
}

.tab-content {
    overflow: auto;
}

.tabs-right>.nav-tabs, .tabs-left>.nav-tabs {
    border-bottom: 0;
}

.tabs-left .nav-tabs>li, .tabs-right .nav-tabs>li {
    float: none;
}

.tabs-left .nav-tabs>li>a, .tabs-right .nav-tabs>li>a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left>.nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left>.nav-tabs>li>a {
    margin-right: -1px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left>.nav-tabs>li>a:hover, .tabs-left>.nav-tabs>li>a:focus {
    border-color: #eee #ddd #eee #eee;
}

.tabs-left>.nav-tabs>li.active>a, .tabs-left>.nav-tabs>li.active>a:hover, .tabs-left>.nav-tabs>li.active>a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #fff;
}

.tabs-right>.nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}

.tabs-right>.nav-tabs>li>a {
    margin-left: -1px;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0;
    border-radius: 0 4px 4px 0;
}

.tabs-right>.nav-tabs>li>a:hover, .tabs-right>.nav-tabs>li>a:focus {
    border-color: #eee #eee #eee #ddd;
}

.tabs-right>.nav-tabs>li.active>a, .tabs-right>.nav-tabs>li.active>a:hover, .tabs-right>.nav-tabs>li.active>a:focus {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #fff;
}

.tabs-vertical {
    position: relative;
}

.tabs-vertical>.nav-tabs {
    position: absolute;
    top: 20px;
    display: block;
    width: auto;
    height: 42px;
    margin: 0;
    white-space: nowrap;
    border: 0 none;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.tabs-vertical>.nav-tabs>li {
    position: relative;
    display: inline-block;
}

.tabs-vertical>.nav-tabs>li>a {
    min-width: 0;
    margin: 0;
}

.tabs-vertical>.nav-tabs>li.active {
    z-index: 1;
}

.tabs-vertical.tabs-left>.nav-tabs {
    left: 43px;
    border-top: 1px solid #ddd;
}

.tabs-vertical.tabs-left>.nav-tabs>li {
    height: 43px;
    top: -1px;
}

.tabs-vertical.tabs-left>.nav-tabs>li>a {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0;
    border-radius: 0 0 4px 4px;
}

.tabs-vertical.tabs-left>.nav-tabs>li>a:hover, .tabs-vertical.tabs-left>.nav-tabs>li>a:focus {
    border-color: #ddd #eee #eee #eee;
}

.tabs-vertical.tabs-left>.nav-tabs>li.active>a, .tabs-vertical.tabs-left>.nav-tabs>li.active>a:hover, .tabs-vertical.tabs-left>.nav-tabs>li.active>a:focus {
    background-color: #fff;
    border-color: transparent #ddd #ddd #ddd;
    *border-top-color: #fff;
}

.tabs-vertical.tabs-left .tab-content {
    margin-left: 42px;
    border-left: 1px solid #ddd;
}

.tabs-vertical.tabs-right>.nav-tabs {
    left: 100%;
    margin-left: -1px;
    border-bottom: 1px solid #ddd;
}

.tabs-vertical.tabs-right>.nav-tabs>li>a {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px;
    border-radius: 4px 4px 0 0;
}

.tabs-vertical.tabs-right>.nav-tabs>li>a:hover, .tabs-vertical.tabs-right>.nav-tabs>li>a:focus {
    border-color: #eee #eee #ddd #eee;
}

.tabs-vertical.tabs-right>.nav-tabs>li.active>a, .tabs-vertical.tabs-right>.nav-tabs>li.active>a:hover, .tabs-vertical.tabs-right>.nav-tabs>li.active>a:focus {
    background-color: #fff;
    border-color: #ddd #ddd transparent #ddd;
    *border-bottom-color: #fff;
}

.tabs-vertical.tabs-right .tab-content {
    margin-right: 42px;
    border-right: 1px solid #ddd;
}

.tabs-left .tab-content {
    padding-left: 20px;
}

.tabs-right .tab-content {
    padding-right: 20px;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.page-header {
    margin-top: 10px;
}

.title {
    color: #337ab7;
    display: inline-block;
    padding-left: 100px;
}

.sub-heading {}

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

#pieChart {
    min-height: 200px;
    min-width: 200px;
    max-height: 300px;
    max-width: 300px;
    margin: auto;
}

#pieChart2 {
    min-height: 200px;
    min-width: 200px;
    max-height: 300px;
    max-width: 300px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

#overlay {
    max-height: 600px;
    max-width: 1000px;
    margin: auto;
}

h2.page-header, h3.page-header, h4.page-header {
    margin-top: 5px;
}

.myPicture {
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: auto;
    margin-top: 5px;
    border-radius: 200px;
}

.leftSide {
    text-align: left;
}

#map {
    width: 100%;
    height: 100vh;
}

.list-item td {
    margin: 0 0 7px 0;
    padding-right: 30px;
}

.list2 {
    margin: 0 0 7px 0;
    padding-right: 30px;
}

#mobileWarning {
    display: none;
}

.blueTeam {
    color: blue;
}

.redTeam {
    color: #773d3d;
}

.greenTeam {
    color: #347f2a;
}

.jobList {
    width: 100%;
}

.jobList tr {
    border-bottom: 1px solid #eee;
}

.completed {
    display: inline-block;
}

#scatterplot {
    width: 90%;
    height: 760px;
    margin: 0 auto;
    padding: 0;
}

#scatterplot svg {
    display: block;
}

#scatterplotHeading {
    padding-left: 120px;
    color: #888;
    padding-bottom: 10px;
}

.topSubHeading {
    color: #888;
    display: inline-block;
    padding-left: 10px;
}

.chartHeading {
    color: #888;
}

.list tr:nth-child(odd) {
    background: skyblue;
}

tr {
    width: 90%;
    margin: auto;
}

th {
    width: 120px;
}

.block {
    width: 120px;
}

@media (max-width: 740px) {
    div.container-fluid {
        padding: 6px;
    }
    #scatterplot {
        display: none;
    }
    #scatterplot svg {
        display: none;
    }
    #scatterplotHeading {
        display: none;
    }
    #mobileWarning {
        display: block;
        color: #333;
        padding: 20px;
        text-align: center;
        font-size: 1.4em;
    }
    .topSubHeading {
        display: none;
    }
    .title {
        padding-left: 5px;
    }
}

@media (min-width: 739px) {
    #mobileWarning {
        display: none;
    }
}
